<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <title>Test - Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="{{ url_for('login')}}" method="post">
        <input name='username' type='text' placeholder='Username'>
        <br>
        <br>
        <input name='password' type='password' placeholder='Password'>
        <br>
        <br>
        <div class="g-recaptcha" data-sitekey="6LcE3PsUAAAAAKtGOw_I-Ft1ZsXe9wgkwtEHBOGV"></div>
        <br>
        <br>
        <input name='submit' type='submit'>
    </form>
</body>
</html>