<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>No Account Matches</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>
<body>
    <h1 class="text-font center">No Account Has the Same Email and Username</h1>
    <p class="text-font center">Please create a new account, or enter your information again. </p>
    <form style="top:0.5vw;right:0.5vw;position:absolute;" action=" {{ url_for('login') }} ">
        <button class="text-font" type="submit">Login</button>
    </form>
    <form style="top:0.5vw;right:5vw;position:absolute;" action=" {{ url_for('sign_up') }} ">
        <button class="text-font" type="submit">Sign Up</button>
    </form>
    <form style="top:0.5vw;right:10.5vw;position:absolute;" action=" {{ url_for('sign_out') }} ">
        <button class="text-font" type="submit">Sign Out</button>
    </form>
    <form style="top:0.5vw;right:16.5vw;position:absolute;" action=" {{ url_for('upload_file') }} ">
        <button class="text-font" type="submit">Upload File</button>
    </form>
    <form style="top:0.5vw;right:23.7vw;position:absolute;" action=" {{ url_for('home') }} ">
        <button class="text-font" type="submit">Home</button>
    </form>
</body>
</html>